body{
    background-color: black;
    color : white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: grid;
    align-items: center;
    align-self: center;
    margin: 0;
    padding-top: 30px; 

}

.logo-button, .start-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 50px;
    padding: none;
}
.logo-button{
    width: 500px;
  
}
.start-button {
    width: 200px;
    border: 10px;
    border-radius: 100px;
    background-color:white;
    color: black;
    margin-top: 30px;
    height: 100px;
}

.logo-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.title-button {
    border-bottom: 3px solid white; /* Thickness and color of underline */             
    display: inline-block; 
}
.username, .password {
    width: 300px;
    height: 50px;
    border-radius: 25px;
 
    padding: 5px;

    background-color: white;
    color: black;

}



  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }

  .success {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }